/[Ll]ibrary/
/[Tt]emp/
/[Bb]uild/
/[Bb]uilds/
/[Bb]in/
/Assets/AssetStoreTools*

.consulo/
obj/
UniSim*.csproj
Assembly-CSharp*.csproj
UniSim*.unityproj
UniSim*.sln
*.suo
*.tmp
*.usr
*.usrprefs
*.pidb
*.booproj
*.svd
*.opensdf
*.sdf

*.pidb.meta

sysinfo.txt
*.stackdump
[Dd]esktop.ini
[Tt]humbs.ini

.vs

DLLs/x64
DLLs/VrLinkDIS/x64
DLLs/VrLinkDIS/Debug
DLLs/VrLinkDIS/Release
DLLs/ipch

PitchDLLs/project/x64
PitchDLLs/project/ipch